main {
  background-color: #ff3340;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  padding: 32px;
  border-radius: 20px;
  background-color: #FFFFFF;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 35px;
  font-family: 'Libre Baskerville', sans-serif;
  margin-bottom: 10px;
}

h2 {
  color: #f6304f;
  font-size: 21px;
  font-family: 'Libre Baskerville', sans-serif;
  margin-bottom: 10px;
}

p {
  color: #000000;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  margin-top: 8px;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  text-align: center;
}

.links {

}

a {
  color: #04009A;
  margin: 8px;
}
